@charset "utf-8";
/* CSS Document */

#tdLogo{
background-image:	url(/image/logo.png);
background-size: 100% 100%;
background-repeat: no-repeat;
}
#tdMain{
	background-image:url(/image/BG.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.NavTable, #tdFooter, #trFooter{
	border:3px solid #143D04;
	border-radius:5px;
	background-color:#008000;
}
.trNav:first-child td:first-child{ 
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
.trNav:first-child td:last-child {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
#tdTime{
	color: #D3D4D5;
	padding-left: 20px;
	font-family:fantasy, "Copperplate Gothic Bold";
	font-size:16px;
	letter-spacing:1px;
}
#tdWelcome{
	padding-bottom:100px;
	padding-right: 50px;
}
#tdFooter {
	padding-left: 20px;
	color: white;
}
#welcome{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:120px;
	margin-bottom:1px;
	letter-spacing:10px;
	color:black;
	text-shadow:3px 4px green;
}
#pQuote{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: right;
	color: #000000;
}
